.home-container {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); 
  }
  
  .navbar-left {
    /* Styles for the left side of the navbar */
  }
  
  .nav-logo img {
    width: 150px; /* Adjust as needed */
  }
  
  .navbar-right {
    /* Styles for the right side of the navbar */
  }
  
  .navbar-right a {
    margin-right: 20px;
    /* Styles for the call to action */
  }
  
  .book-now {
    padding: 10px 20px;
    background-color: #A984B5; 
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .navbar-links a {
    margin-right: 20px;
    color: #9E76B4;
    text-decoration: none;
  }
  
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: wheat;
  }
  
  .main-content h1 {
    margin-bottom: 20px;
  }
  
